<?xml version="1.0"?>
<!-- 此文件单独测试rrt路径规划使用 -->
<launch>

  <!-- 启动turtlebot3仿真机器人 -->
  <include file="$(find turtlebot3_fake)/launch/turtlebot3_fake.launch" />

  <!-- 启动地图 -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find rrt_star_global_planner)/maps/map1.yaml"/>

  <!-- 启动map->odom静态TF发布 -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 1 /map /odom 100" />

  <!--启动rrt全局规划器-->
  <node pkg="rrt_star_global_planner" type="rrt_star_planner" respawn="false" name="rrt_star_planner" output="screen">
    <rosparam file="$(find rrt_star_global_planner)/params/test_rrt_star_planner.yaml" command="load" />
  </node>

</launch>


